h1{
    color:red;
    
}

.form{
    height:50vh;
    width:40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    padding:10px;
  

}
.form input{
    outline-color: gray;
    padding:5px
}
.form span{
    color:red
}